$kolor-tytulu: rgb(4, 153, 4);
$wielkosc-bazowa-fonta: 12pt;

@mixin wyrazny-tekst {
    color: white;
    background-color: black;
    padding: 10px;
}

h1 {
    color: $kolor-tytulu;
    font-size: $wielkosc-bazowa-fonta;
}

span {
    color: rgba($kolor-tytulu, 0.5);
    background-color: rgba($kolor-tytulu, 0.1);
    font-size: calc($wielkosc-bazowa-fonta / 2);
}

p {
    border: 1px solid red;
    @include wyrazny-tekst;
}
