<!--
wartosci:
{{ forma.value | json }}
bledy:
    {{ forma.valid }}
-->

<div *ngIf="wysylaniewToku">
Wysylam formularz...
</div>

<div *ngIf="udanyZapis && !wysylaniewToku">
    Zapis powiódł się!
</div>

<form [formGroup]="forma" *ngIf="!wysylaniewToku">
    <div>
        <label for="imieid">Imię</label>
        <input type="text" id="imieid" formControlName="imie">
        <ul class="blad" *ngIf="forma.controls.imie.errors">
            <li *ngIf="forma.controls.imie.errors['pattern']">
                Imię nie spełnia oczekiwanego wzorca (tylko litery i spacja)
            </li>
            <li *ngIf="forma.controls.imie.errors['minlength']">
                Imię jest zbyt krótkie. Obecnie ma 
                {{forma.controls.imie.errors['minlength'].actualLength}} 
                znaków a powino miec przynajmiej 
                {{forma.controls.imie.errors['minlength'].requiredLength}} znakow.
            </li>
            <li *ngIf="forma.controls.imie.errors['required']">
                Pole jest wymagane
            </li>
        </ul>
    </div>
    <div>
        <label for="nazwiskoid">Nazwisko</label>
        <input type="text" id="nazwiskoid"  formControlName="nazwisko">
    </div>
    <div>
        <label for="wagaid">Waga</label>
        <input type="number" id="wagaid"  formControlName="waga">
    </div>
    <div>
        <label for="wzrostid">Wzrost</label>
        <input type="number" id="wzrostid"  formControlName="wzrost">
    </div>

    <div>
        <h1 *ngIf="bmi">Twoje BMI wynosi {{bmi | number:'1.2-2'}}</h1>
    </div>

    <div>
        <label for="aktywnoscid">Aktywnosc</label>
        <select id="aktywnoscid" formControlName="aktywnosc">
            <option [ngValue]="null">Wybierz</option>
            <option [ngValue]="'n'">Niska</option>
            <option [ngValue]="'s'">Srednia</option>
            <option [ngValue]="'w'">Wysoka</option>
        </select>
    </div>
    <div>
        <fieldset>
            <legend>Plec</legend>
        <label for="pleck">Kobieta</label>
        <input type="radio" id="pleck" value="k" formControlName="plec">
        <label for="plecm">Meżczyzna</label>
        <input type="radio" id="plecm" value="m" formControlName="plec">
        </fieldset>
    </div>
    <div [formGroup]="forma.controls.uzywki">
        <fieldset>
            <legend>Uzywki</legend>
        <label for="alkid">Alkohol</label>
        <input type="checkbox" id="alkid" formControlName="alkohol">
        <label for="kawid">Kawa</label>
        <input type="checkbox" id="kawid" formControlName="kawa">
        </fieldset>
    </div>
    <div *ngIf="forma.valid">
        <input type="button" value="Wyślij" (click)="wyslijFormularz()">
    </div>

    <div (click)="zmienNazwisko('Nowak')">Zmien</div>
</form>

