<h1>{{tytul}}</h1>
<h3>{{podtytul}} {{rok()}}</h3>

<p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem optio voluptas aliquid totam commodi praesentium dolores quod consequuntur aliquam nostrum alias accusantium voluptatum recusandae enim, nesciunt excepturi quas expedita beatae!
Molestiae architecto nihil ipsa debitis iure placeat consequatur eveniet blanditiis itaque nobis, rem hic aliquid! Nisi quibusdam, dolores accusamus, aspernatur, sunt iste consectetur maiores facilis magni nam fugiat hic officiis.
Facere, eius a, cum dolorem cupiditate at, unde quidem distinctio consequuntur assumenda quibusdam eveniet eos ducimus fugit maxime tempore harum inventore doloremque. Veritatis enim sunt molestiae repudiandae at, nam atque?
Omnis nam enim molestias sequi, facere ad atque cumque aliquid iusto non aspernatur excepturi placeat doloremque nesciunt totam perferendis dignissimos reprehenderit soluta modi vel beatae! Quisquam, velit officia. Enim, provident.
Aut consequatur error voluptates perferendis obcaecati tempora, voluptatum consequuntur vitae necessitatibus aliquam asperiores cupiditate quasi ullam natus! Laudantium fugiat ad nam aliquam nobis corporis perspiciatis earum sed porro et. Nobis.
Harum magni impedit, culpa ab cum est. Iste, sapiente quod nihil dicta harum libero natus iusto? Corporis architecto ipsam provident, quos delectus voluptatum tempora mollitia vitae dolorem. Mollitia, voluptatibus ad?
Quia et, nihil illum placeat nostrum asperiores eius nam explicabo possimus odit eum in aperiam accusamus, minus velit quaerat! Ducimus error cumque quaerat nemo sunt facere odit quae aspernatur expedita.
Molestias atque quae asperiores, quis, inventore sequi iusto earum, praesentium soluta voluptatem vitae quod illum neque saepe eveniet consequatur ad necessitatibus corporis rem laudantium ullam repellendus dolorum? Sit, inventore fuga!
Repudiandae a enim, quidem explicabo quos debitis vel deserunt nulla quis dignissimos iusto quae id, delectus cupiditate ullam assumenda harum ut tempore? Porro ipsum iusto reprehenderit laudantium facere at perspiciatis?
Laudantium eum dignissimos nobis incidunt facere aspernatur deleniti culpa alias debitis expedita rem voluptatibus inventore quisquam illum obcaecati doloremque earum, consequuntur illo dicta amet repudiandae veniam, tempora nesciunt praesentium. Ad?
</p>

<app-stopka imie="Hubert"></app-stopka>

<app-stopka imie="Anna"></app-stopka>

<app-stopka imie="Tadeusz"></app-stopka>

<router-outlet></router-outlet>